* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
}

.page-video {
    display: flex;
    align-items: center;
    color: white
}

.container {
    max-width: 960px;
    padding: 0 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    background-color: #6d6d6d;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .75;
}

.header-content {
    z-index: 2;
    margin: auto;
}

.header-content>.play-video {
    width: 200px;
    height: 200px;
    border: rgba(255, 255, 255, .5) 10px solid;
    color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: flex;
}

.header-content>.play-video>.fas {
    margin: auto;
}

.header-content>.play-video:hover {
    cursor: pointer;
    border-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.header-content>.stop-video {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    border: rgba(255, 255, 255, .5) 10px solid;
    color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: flex;
    visibility: hidden;
}

.header-content>.stop-video>.fas {
    margin: auto;
}

.header-content>.stop-video:hover {
    cursor: pointer;
    border-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.pages {
    height: 500vh;
}

.sidebar {
    position: absolute;
    top: 100vh;
    width: 30vw;
    background: rgba(73, 155, 234, 1);
    background: -moz-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73, 155, 234, 1)), color-stop(100%, rgba(32, 124, 229, 1)));
    background: -webkit-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    background: -o-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    background: -ms-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    background: linear-gradient(to bottom, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0);
    height: 410vh;
    z-index: -1;
}

.sidebar>.circle1 {
    height: 40vh;
    position: relative;
    top: 30vh;
    left: 15vw;
}

.sidebar>.circle2 {
    width: 25vw;
    position: relative;
    top: 40vh;
    left: 20vw;
}

.sidebar>.circle3 {
    height: 40vh;
    position: relative;
    top: 70vh;
    left: 15vw;
}

.sidebar>.circle4 {
    position: relative;
    top: 200vh;
    left: 5vw;
    height: 60vh;
}
.imgs {
    display: flex;
    padding-top: 30px;
}

.split {
    width: 100vw;
    position: absolute;
}

.imgs>.logo {
    margin: auto;
    width: 100px;
}

.homepage {
    background: url("../img/DetailRechtsonder.png") no-repeat right bottom;
    background-size: 300px;
}
.text-img-intro {
    position: relative;
    width: 45vw;
    left: 50vw;
    top: 12vh;
}
.text-img-finan {
    position: relative;
    width: 45vw;
    left: 50vw;
    top: 40vh;
}
.moneypage {
    background: url("../img/Detailrechtsboven.png") no-repeat right top 80px;
    background-size: 200px;
}

.homepage>.text {
    width: 40vw;
    position: relative;
    top: 25vh;
    left: 50vw;
    background: url("../img/top.svg") top right no-repeat, url("../img/bottom.svg") left bottom no-repeat;
    background-size: contain, 200px;
}

.homepage>.text>div {
    padding: 3rem 4rem 3rem 5rem;
}

.moneypage .text {
    width: 40vw;
    position: relative;
    top: 30vh;
    left: 50vw;
    background: url("../img/moneyright.svg") bottom right no-repeat, url("../img/moneyleft.svg") left top no-repeat;
    background-size: 250px, contain;
}

.moneypage>.text>div {
    padding: 3rem 4rem 3rem 5rem;
}

.appPage {
    background: url("../img/appBackground.png") no-repeat;
    background-size: cover;
    z-index: 2;
    margin-top: 5rem;
}

.detialsPage .imgs > .logo,
.contactPage .imgs > .logo {
    font-size: 2rem;
    width: 270px;
    font-weight: bold;
}

.packages {
    width: 45vw;
    position: relative;
    left: 45vw;
    top: 5vh;
}

.text-img {
    position: relative;
    top: 50vh;
    width: 45vw;
}

.wrapper {
    width: 900px;
    margin:auto;
    display: flex;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

form input, form select {
    width: 45%;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #e5e5e5;
    border: none;
}
form textarea {
    width: 100%;
    margin: 1rem 0;
    background-color: #e5e5e5;
    border: none;
    height: 200px;
    padding: 1rem;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
}
.contactPage {
    position: absolute;
    background: url("../img/DetailrechtsonderContactpagina.png") bottom right 50px no-repeat;
    /* height: auto; */
}
